*, html, body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: none;
  justify-content: center;
}

body {
  background-color: #ecf1f3;
  background-image: url(https://raw.githubusercontent.com/borjagonz/FINAL-PROJECT-BGONZ/refs/heads/main/src/background/headline-background.png);
  background-size: 200vh;
  background-repeat: no-repeat;
  background-position: auto;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('/fonts/gotham-black.woff') format('woff'),
       url('/fonts/gotham-black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 60px;
  font-family: Gotham;
  color: #004eff;
  background-color: none;
  background: none;
}

h2 {
  font-size: 22px;
  font-family: Gotham;
  color: #004eff;
  background-color: none;
  background: none;
}

p {
  font-size: 18px;
  font-family: Gotham;
  color: #004eff;
}
